html, body {
  font-size: 200%;
  color: #381460;
  padding: 0;
  margin: 0;
}

.player {
  background-color: #fcf8e8;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.button {
  background-color: #ffbd69; /* Green */
  border: none;
  color: #381460;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  transition-duration: 0.4s;
}

#demo {
  font-size: 1.25rem;
}

.button:hover {
  background-color: #d45079; /* Green */
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.4rem;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 2rem; /* Specified height */
  border-radius: 1rem;
  background: #ecdfc8; /* Grey background */
  outline: none; /* Remove outline */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 2rem; /* Set a specific slider handle width */
  height: 2rem; /* Slider handle height */
  border-radius: 50%;
  background: #381460; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 2rem; /* Set a specific slider handle width */
  height: 2rem; /* Slider handle height */
  border-radius: 50%;
  background: #381460; /* Green background */
  cursor: pointer; /* Cursor on hover */
}


@media (min-width: 60em) {

  .player {
    max-width: 30rem;
  }

}

@media (max-width: 60em) {

  .player {
    min-width: 25rem;
  }

}
